{% extends "layout.html" %}

{% block head %}
{{ super() }}

{% block style %}
<style>
    *{
        font-family: 'NEXON Lv2 Gothic Light';
    }

    #main {
        width: 80%;
        margin: 50px auto;
    }

    #showcontent {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 2px solid #353535;
    }

    #modify {
        float: right;
        margin-top: 5px;
    }

    .title {
        border-top: 2px solid #353535;
    }

    .title > h4 {
        margin: 5px 10px;
    }

    .info {
        display: flex;
        justify-content: space-between;
        background-color: #F5F5F5;
        border-top: 1px solid #DEDEDE;
    }

    .info > p {
        margin: auto 10px;
        color: dimgray;
    }

    .content {
        width: 90%;
        margin: 30px auto;
    }

    #comment {
        margin: 50px auto;
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    #comment img {
        max-width: 25px;
        margin-right: 5px;
    }

    .mb-3 button {
        float: right;
        margin-top: 10px;
    }

    .comment-cont {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: 15px auto;
        border-top: 1px solid lightgray;
    }

    .comment-cont p {
        margin: 5px 10px;
    }

    .userinfo {
        display: flex;
        justify-content: space-between;
        color: dimgray;
        /*margin: 0px 10px;*/
    }

    #posting {
        display: none;
        width: 80%;
        margin: 50px auto;
    }

     @media (max-width: 625px) {
         *{
             font-size: 10px;
         }
     }

</style>
{% endblock %}
{% endblock %}

{% block content %}
<div id="main">
    <div id="showcontent">
        <div class="title">
            <h3>제목입니다.</h3>
        </div>
        <div class="info">
            <p>2021/03/02</p>
        </div>
        <div class="content">
            <p>내용입니다.</p>
        </div>
    </div>
    <div id="modify">

    </div>
    <div id="comment">
        <p><img src="../static/comments.png">댓글: </p>
        <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="button" class="btn btn-dark" onclick="postcomment()">작성</button>
        </div>
    </div>

    <div id="comment_list">

    </div>
</div>

<div id="posting">
    <div class="mb-3">
        <label for="title" class="form-label"></label>
        <input type="text" class="form-control" id="title" placeholder="">
    </div>
    <div class="mb-3">
        <textarea class="form-control" id="content" rows="3" placeholder=""></textarea>
    </div>
    <button type="button" class="btn btn-dark" onclick="cancelpost()">취소</button>
    <button type="button" class="btn btn-dark" onclick="postcomplete()">완료</button>
</div>


<script>
    let postId = (location.search.substr(location.search.indexOf("?") + 1)).split("=")[1]
    $(document).ready(function () {
        if (postId == null) {
            window.location.href = '/'
        }
        $(".nav-item").children("a").removeClass("active")
        $('#showcontent').empty()
        $('#comment_list').empty()
        getPost()
    })


    var getId = $.ajax({
        type: "GET",
        url: "/check_if_login",
        data: {},
        success: function (response) {
            // if (response["result"] == 'success') {
            // } else {
            // }
        }
    })


    function getPost() {
        $.ajax({
            type: "GET",
            url: "/post",
            data: {
                'id_give': postId
            },
            success: function (response) {
                if (response["result"] == 'success') {
                    let post = response["data"]
                    title = post['title']
                    let date = post['date']
                    content = post['content']
                    let comments = post['comment']
                    let user = post['user']
                    let userId = post['userId']
                    if (comments) {
                        for (let i = 0; i < comments.length; i++) {
                            let comment = comments[i]
                            let date = comment['date']
                            let text = comment['comment']
                            let user = comment['user']
                            let temp = `<div class="comment-cont"><div class="userinfo"><p>${user}</p><p>${date}</p></div><p>${text}</p></div>`
                            $('#comment_list').append(temp)
                        }
                    }
                    let temp = `<div class="title">
                                    <h4>${title}</h4>
                                </div>
                                <div class="info">
                                    <p>${user}</p>
                                    <p>${date}</p>
                                </div>
                                <div class="content">
                                    <p>${content}</p>
                                </div>`

                    $('#showcontent').append(temp)

                    var id = getId.done(function (response) {
                        if (response['result'] === 'success') {
                            if (response['userId'] === userId) {
                                let temp = `<button type="button" class="btn btn-outline-dark" onclick="update_post(${postId})">수정</button>
                                            <button type="button" class="btn btn-outline-dark" onclick="delete_post(${postId})">삭제</button>`
                                $('#modify').append(temp)
                            }
                        }
                    })
                }
            }
        })
    }

    function update_post(postId) {
        $('#main').hide()
        $('#posting').show()
        $('#title').val(title)
        $('#content').val(content)
    }

    function postcomplete() {
        let updated_content = $('#content').val()
        let updated_title = $('#title').val()
        $.ajax({
            type: "POST",
            url: "/update_post",
            data: {'postId_give': postId, 'updated_content': updated_content, 'updated_title': updated_title},
            success: function (response) {
                if (response['result'] == 'success') {
                    alert(response['msg'])
                    window.location.href = `/boardpost?postId=${postId}`
                }
            }
        })
    }

    function cancelpost() {
        if (confirm("정말 취소하시겠습니까?")) {
            $('#posting').hide()
            $('#main').show()
        } else {
            return;
        }
    }


    function delete_post(postId) {
        $.ajax({
            type: "POST",
            url: "/delete_post",
            data: {'postId_give': postId},
            success: function (response) {
                if (response['result'] == 'success') {
                    alert(response['msg'])
                    window.location.href = '/board'
                }
            }
        })
    }

    function postcomment() {
        let comment = $("#exampleFormControlTextarea1").val()
        let today = new Date()
        let year = today.getFullYear(); // 년도
        let month = today.getMonth() + 1;  // 월
        let day = today.getDate();  // 날짜
        let date = year + "/" + month + "/" + day
        if (comment == '') {
            alert('댓글을 입력해 주세요')
            return
        }
        $.ajax({
            type: "POST",
            url: "/board_comment",
            data: {
                'id_give': postId,
                'comment_give': comment,
                'date_give': date
            },
            success: function (response) {
                if (response["result"] == 'success') {
                    alert(response['msg'])
                    window.location.reload();
                } else {
                    alert("작성 실패")
                }
            }
        })
    }


</script>
{% endblock %}