{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% block style %}
<style>
    #main {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    #searchbar img {
        max-height: 15px;
    }

    #textsearch {
        display: none;
    }

    #searchbar {
        width: calc(100vw - 80px);
        margin: auto;
        display: flex;
        justify-content: flex-end;
        position: relative;
        padding: 15px 0 0;
        height: 50px;
    }

    .form__field {
        font-family: inherit;
        width: 200px;
        border: 0;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
        outline: 0;
        font-size: 10px;
        color: black;
        padding: 7px 0;
        background: transparent;
    }


    .form-check {
        padding-left: 40px;
        /*font-family: 'Nanum Myeongjo', serif;*/
        font-size: 15px;
    }

    #movie_list {
        width: calc(100vw - 80px);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        overflow: auto;
        border: 1px solid black;
    }

    .movie {
        height: 450px;
        width: calc(100% / 5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 19px;

    }

    .movie img {
        width: 232px;
        height: 336px;
    }

    .movie-desc p {
        margin: 0 5px;
        /*font-family: 'Noto Sans KR', sans-serif;*/
    }

    .movie-desc {
        margin-top: 10px;
    }

    .movie-desc > p:nth-child(1) {
        /*margin-top: 4px;*/
        color: royalblue;
        font-size: 12px;
        text-align: left;

    }

    .movie-desc > p:nth-child(2) {
        font-size: 15px;
        /*text-align: center;*/
    }

    #pagination a {
        margin: 5px;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-family: 'Abril Fatface', cursive;
    }

    #pagination {
        text-align: center;
        margin: 30px auto;
    }

    #pagination .active {
        color: white;
        pointer-events: none;
        cursor: default;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        border: 1px solid black;
        border-radius: 30%;
        padding: 5px;
    }

    .currentpage {
        pointer-events: none;
        cursor: default;
    }
</style>
{% endblock %}
{% block script %}

{% endblock %}
{% endblock %}

{% block content %}
<div id="main">
    <div id='searchbar' class="form__group field">
        <div id="textsearch">
            <input type="input" class="form__field" placeholder="검색어를 입력하세요" name="search" id='search' required/>
            <label for="search" class="form__label"></label>
            <a id='searchicon' href="javascript:void(0)" onclick="searchtext()"><img src="../static/search.png"></a>
        </div>
        <a id='hideicon' onclick="showsearch()"><img src="../static/search.png"></a>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                   value="latest"
                   checked="checked">
            <label class="form-check-label" for="flexRadioDefault1">
                최신순
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                   value="oldest">
            <label class="form-check-label" for="flexRadioDefault2">
                오래된순
            </label>
        </div>
    </div>


    <div id="movie_list">
        <div class="movie">
            <img src="..\static\filmreel.png" class="card-img" alt="...">
            <div class="movie-desc">
                <p class="movie-type">영화</p>
                <p class="movie-title">승리호</p>
            </div>
        </div>
        <div class="movie">
            <img src="..\static\filmreel.png" class="card-img" alt="...">
            <div class="movie-desc">
                <p class="movie-type">영화</p>
                <p class="movie-title">승리호</p>
            </div>
        </div>
        <div class="movie">
            <img src="..\static\filmreel.png" class="card-img" alt="...">
            <div class="movie-desc">
                <p class="movie-type">영화</p>
                <p class="movie-title">승리호</p>
            </div>
        </div>
    </div>
</div>
<hr/>
<div id="pagination">

</div>
<hr/>

<script>
    let page = 1
    let size = 25
    let order = 'latest'
    let keyword = $('.form__field').val()

    $(document).ready(function () {
        $(".nav-item").children("a").removeClass("active")
        $(".nav.nav-pills>.nav-item:nth-child(2)>a").addClass("active")
        $("#movie_list").empty()
        $("#pagination").empty()
        if ((location.search.substr(location.search.indexOf("?") + 1))) {
            let params = (location.search.substr(location.search.indexOf("?") + 1)).split("&")
            page = Number(params[0].split("=")[1])
            order = params[1].split("=")[1]
            keyword = params[2].split("=")[1]
        }

        if (order == 'latest') {
            $("input[value='latest']").prop("checked", true);
        } else {
            $("input[value='oldest']").prop("checked", true);
        }
        getContents()

    })

    $("input[name='flexRadioDefault'][type='radio']").change(function () {
        order = this.value
        window.open(`/search?page=1&order=${order}&keyword=${keyword}`, "_self")

    })

    function showsearch() {
        $('#textsearch').show()
        $('#hideicon').hide()
    }

    function searchtext(){
        keyword = $('.form__field').val()

        window.open(`/search?page=1&order=${order}&keyword=${keyword}`, "_self")
    }


    function getContents() {
        console.log(keyword)
        $.ajax({
            type: "GET",
            url: "/contents",
            data: {
                'page': page,
                'size': size,
                'order': order,
                'keyword': keyword
            },
            success: function (response) {
                console.log(response)
                if (response['result'] == 'success') {
                    $("#movie_list").empty()
                    $("#pagination").empty()
                    let data = response["contents"]
                    let total = response["total"]
                    printContents(data)
                    printPagination(total, page, order)
                } else {
                    alert('목록을 받아오지 못했습니다.')

                }
            }
        })
    }

    function printContents(data) {
        for (let i = 0; i < data.length; i++) {
            let title = data[i]['title']
            let type = data[i]['type'].split(" ")[0]
            let id = data[i]['contentId']
            let thumbnail = data[i]['thumbnail']
            if (thumbnail == 'None') {
                thumbnail = '..\\static\\none.jpg'
            }
            let temp = `<div class="movie" onclick="">
                                                <a href = "/movie?contentID=${id}" ><img src="${thumbnail}" class="card-img" alt="${title}" /></a>
                                                <div class="movie-desc">
                                                    <p class="movie-type">${type}</p>
                                                    <p class="movie-title">${title}</p>
                                                </div>
                                            </div>`
            $("#movie_list").append(temp)
        }
    }

    function printPagination(total, page, order) {
        let totpage = Math.ceil(total / size)
        let start = `<a href="/search?page=1&order=${order}&keyword=${keyword}">1</a><a href="#" style="pointer-events: none; cursor: default;">---</a>`
        let finish = `<a href="#" style="pointer-events: none; cursor: default;">---</a><a href="/search?page=${totpage}&order=${order}&keyword=${keyword}">${totpage}</a>`

        if (page === 1) {
            $("#pagination").append(`<a href="#" class='currentpage' onclick="">Prev</a>`)
        } else {
            $("#pagination").append(`<a href="/search?page=${page - 1}&order=${order}&keyword=${keyword}">Prev</a>`)
        }
        //prev 1...2 3 4 5 6 ...100 Next 만들기
        if (page <= 3) {
            numbering(1, 5, page)
            $("#pagination").append(finish)
        } else if (page <= (totpage - 3)) {
            $("#pagination").append(start)
            numbering(page - 2, page + 2, page)
            $("#pagination").append(finish)
        } else {
            $("#pagination").append(start)
            numbering(totpage - 5, totpage, page)
        }

        if (page === totpage) {
            $("#pagination").append(`<a href="#" class='currentpage' onclick="">Next</a>`)
        } else {
            $("#pagination").append(`<a href="/search?page=${page + 1}&order=${order}&keyword=${keyword}">Next</a>`)
        }
    }

    function numbering(s, f, page) {
        for (let i = s; i <= f; i++) {
            let active = (page === i) ? 'active' : ''
            let temp = `<a class="${active}" href="/search?page=${i}&order=${order}&keyword=${keyword}">${i}</a>`
            $("#pagination").append(temp)
        }
    }


</script>
{% endblock %}
