{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% block style %}
<style>
    #main {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    #searchbar img {
        max-height: 15px;
    }

    #textsearch {
        display: none;
    }

    #searchbar {
        width: 90%;
        margin: auto;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        padding: 15px 0 0;
        height: 50px;
        /*border: 1px solid;*/
    }


    .form__field {
        font-family: inherit;
        width: 200px;
        border: 0;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
        outline: 0;
        font-size: 10px;
        color: black;
        padding: 7px 0;
        background: transparent;
    }


    .form-check {
        padding-left: 40px;
        /*font-family: 'Nanum Myeongjo', serif;*/
        font-size: 15px;
        margin-top: 3px;
        font-family: 'Do Hyeon', sans-serif;
    }


    .form-select {
        width: 100px;
        margin: 0px 10px;
        font-size: 10px;
        height: 30px;
        color: black;
        border-color: black;
    }

    #movie_list {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        /*justify-content: space-between;*/
        align-content: space-around;
        flex-wrap: wrap;
        overflow: auto;
        border-top: 1px solid black;
    }

    #movie_list h2 {
        margin: 50px auto;
    }

    .movie {
        height: 28vw;
        width: calc(100% / 5);
        display: flex;
        flex-direction: column;
        /*justify-content: space-evenly;*/
        align-items: center;
        /*padding-left: 19px;*/
        margin: 25px 0px;
        /*border: 1px solid;*/
    }

    .movie img {
        /*width: 232px;*/
        /*height: 336px;*/
        width: 16vw;
        height: 23vw;
    }

    @font-face {
        font-family: 'InfinitySans-RegularA1';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'LotteMartDream';
        font-style: normal;
        font-weight: 400;
        src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
    }

    .movie-desc p {
        margin: 0 5px;
        /*font-family: 'Noto Sans KR', sans-serif;*/
        font-family: 'LotteMartDream';
    }

    .movie-desc {
        margin: 10px 10px;
        align-self: stretch;
    }

    .movie-desc > div:nth-child(1) {
        /*margin-top: 4px;*/
        display: flex;
        justify-content: space-between;
        color: royalblue;
        font-size: 10px;
        text-align: left;
    }

    .movie-desc > div > p:nth-child(2) {
        font-size: 15px;
    }

    .movie-desc > div > p:nth-child(2) > span {
        color: black;
    }

    .movie-desc > p:nth-child(2) {
        font-size: 15px;
        /*text-align: center;*/
    }

    #pagination a {
        margin: 5px;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-family: 'Abril Fatface', cursive;
    }

    #pagination {
        text-align: center;
        margin: 30px auto;
    }

    #pagination .active {
        color: white;
        pointer-events: none;
        cursor: default;
        text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
        border: 1px solid black;
        border-radius: 30%;
        padding: 5px;
    }

    .currentpage {
        pointer-events: none;
        cursor: default;
    }

    @media (max-width: 625px) {
        #main {
            margin: 0px;
        }

        #movie_list {
            width: 100vw;
        }

        .movie {
            width: calc(100% / 5);
            /*justify-content: space-around;*/
            height: fit-content;
            margin-top: 10px;
        }

        .movie-desc > div:nth-child(1) {
            /*margin-top: 4px;*/
            color: royalblue;
            font-size: 10px;
            text-align: left;
            flex-direction: column;
        }

        .movie-desc > p:nth-child(2) {
            font-size: 10px;
            /*text-align: center;*/
        }

        .movie-desc > div > p:nth-child(2) {
            font-size: 10px;
        }

        .movie-desc{
            margin: 5px 0px 5px 10px;
        }

        #hideicon {
            display: none;
        }

        #textsearch {
            display: block;
        }

        #searchbar {
            width: 100vw;
            display: flex;
            align-items: stretch;
        }

        #textsearch {
            width: 60%;
            padding-left: 5px;
        }

        .form__field {
            width: 70%;
        }

        .form-check {
            font-size: 10px;
            width: 20%;
            padding-left: 5px;
        }

        .form-select {
            width: 20%;
        }

        #pagination a {
            font-size: 15px;
        }

    }
</style>
{% endblock %}
{% block script %}

{% endblock %}
{% endblock %}

{% block content %}
<div id="main">
    <div id='searchbar' class="form__group field">

        <div id="textsearch">
            <input type="input" class="form__field" placeholder="제목, 감독, 배우를 검색하세요" name="search" id='search'
                   required/>
            <label for="search" class="form__label"></label>
            <a id='searchicon' href="javascript:void(0)" onclick="searchtext()"><img src="../static/search.png"></a>
        </div>
        <a id='hideicon' href='javascript:void(0)' onclick="showsearch()"><img src="../static/search.png"></a>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                   value="latest"
                   checked="checked">
            <label class="form-check-label" for="flexRadioDefault1">
                최신순
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                   value="oldest">
            <label class="form-check-label" for="flexRadioDefault2">
                오래된순
            </label>
        </div>

        <select class="form-select" aria-label="Default select example">
            <option value="1" selected>전체</option>
            <option value="2">영화</option>
            <option value="3">드라마</option>
            <option value="4">예능</option>
            <option value="5">다큐멘터리</option>
            <option value="6">애니메이션</option>
        </select>

    </div>


    <div id="movie_list">

    </div>
</div>
<hr/>
<div id="pagination">

</div>
<hr/>

<script>
    let page = 1
    let size = 25
    let order = 'latest'
    let keyword = ''
    let category = 1

    $(document).ready(function () {
        $(".nav-item").children("a").removeClass("active")
        $(".nav.nav-pills>.nav-item:nth-child(2)>a").addClass("active")
        $("#movie_list").empty()
        $("#pagination").empty()
        if ((location.search.substr(location.search.indexOf("?") + 1))) {
            let params = (location.search.substr(location.search.indexOf("?") + 1)).split("&")
            page = Number(params[0].split("=")[1])
            order = params[1].split("=")[1]
            keyword = decodeURI(params[2].split("=")[1])
            category = Number(params[3].split('=')[1])
        }

        if (order == 'latest') {
            $("input[value='latest']").prop("checked", true);
        } else {
            $("input[value='oldest']").prop("checked", true);
        }

        if (category == 1) {
            $(".form-select").val("1").prop("selected", true);
        } else if (category == 2) {
            $(".form-select").val("2").prop("selected", true);
        } else if (category == 3) {
            $(".form-select").val("3").prop("selected", true);
        } else if (category == 4) {
            $(".form-select").val("4").prop("selected", true);
        } else if (category == 5) {
            $(".form-select").val("5").prop("selected", true);
        } else if (category == 6) {
            $(".form-select").val("6").prop("selected", true);
        }

        if (keyword != '') {
            $(".nav-item").children("a").removeClass("active")
            $('#textsearch').show()
            $('#hideicon').hide()
            $('#textsearch >input').val(keyword)
        }
        getContents()

    })

    $("input[name='flexRadioDefault'][type='radio']").change(function () {
        order = this.value
        window.open(`/search?page=1&order=${order}&keyword=${keyword}&category=${category}`, "_self")

    })

    $(".form-select").change(function () {
        category = Number(this.value)
        window.open(`/search?page=1&order=${order}&keyword=${keyword}&category=${category}`, "_self")
    })

    function showsearch() {
        $('#textsearch').show()
        $('#hideicon').hide()
    }

    function searchtext() {
        keyword = $('.form__field').val()
        if (keyword == '') {
            alert('검색어를 입력하세요')
            return
        }
        window.open(`/search?page=1&order=${order}&keyword=${keyword}&category=${category}`, "_self")
    }


    function getContents() {
        console.log(keyword)
        $.ajax({
            type: "GET",
            url: "/contents",
            data: {
                'page': page,
                'size': size,
                'order': order,
                'keyword': keyword,
                'category': category
            },
            success: function (response) {
                console.log(response)
                if (response['result'] == 'success') {
                    $("#movie_list").empty()
                    $("#pagination").empty()
                    let data = response["contents"]
                    let total = response["total"]
                    printContents(data, total)
                    printPagination(total, page, order)
                } else {
                    alert('목록을 받아오지 못했습니다.')

                }
            }
        })
    }

    function printContents(data, total) {

        if (total != 0) {
            for (let i = 0; i < data.length; i++) {
                let title = data[i]['title']
                let type = data[i]['type'].split(" ")[0]
                let id = data[i]['contentId']
                let thumbnail = data[i]['thumbnail']
                let average = data[i]['average']
                if (thumbnail == 'None') {
                    thumbnail = '..\\static\\none.jpg'
                }
                let temp = `<div class="movie" onclick="">
                                                <a href = "/movie?contentID=${id}" ><img src="${thumbnail}" class="card-img" alt="${title}" /></a>
                                                <div class="movie-desc">
                                                    <div class="type-star"><p>${type}</p><p>★ <span>${average}</span></p></div>
                                                    <p class="movie-title">${title}</p>
                                                </div>
                                            </div>`
                $("#movie_list").append(temp)
            }
        } else {
            $("#movie_list").append(`<h2>찾으시는 검색결과가 없습니다!</h2>`)
        }

    }

    function printPagination(total, page, order) {
        if (total == 0) {
            return
        }
        let totpage = Math.ceil(total / size)
        let start = `<a href="/search?page=1&order=${order}&keyword=${keyword}&category=${category}">1</a><a href="#" style="pointer-events: none; cursor: default;">---</a>`
        let finish = `<a href="#" style="pointer-events: none; cursor: default;">---</a><a href="/search?page=${totpage}&order=${order}&keyword=${keyword}&category=${category}">${totpage}</a>`

        if (page === 1) {
            $("#pagination").append(`<a href="#" class='currentpage' onclick="">Prev</a>`)
        } else {
            $("#pagination").append(`<a href="/search?page=${page - 1}&order=${order}&keyword=${keyword}&category=${category}">Prev</a>`)
        }
        //prev 1...2 3 4 5 6 ...100 Next 만들기
        if (totpage <= 7) {
            numbering(1, totpage, page)
        } else {
            if (page <= 3) {
                numbering(1, 5, page)
                $("#pagination").append(finish)
            } else if (page <= (totpage - 3)) {
                $("#pagination").append(start)
                numbering(page - 2, page + 2, page)
                $("#pagination").append(finish)
            } else {
                $("#pagination").append(start)
                numbering(totpage - 5, totpage, page)
            }
        }

        if (page === totpage) {
            $("#pagination").append(`<a href="#" class='currentpage' onclick="">Next</a>`)
        } else {
            $("#pagination").append(`<a href="/search?page=${page + 1}&order=${order}&keyword=${keyword}&category=${category}">Next</a>`)
        }
    }

    function numbering(s, f, page) {
        for (let i = s; i <= f; i++) {
            let active = (page === i) ? 'active' : ''
            let temp = `<a class="${active}" href="/search?page=${i}&order=${order}&keyword=${keyword}&category=${category}">${i}</a>`
            $("#pagination").append(temp)
        }
    }


</script>
{% endblock %}
