{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% block style %}

<style>
    #main {
        width: calc(100vw - 200px);
        margin: 50px auto;
        display: flex;
        flex-direction: column;
    }

    .movieinfo {
        display: flex;
        justify-content: space-evenly;
    }

    .movieinfo > img {
        max-width: 300px;
        max-height: 434px;
        width: 300px;
        height: 434px;
    }

    .rightblock {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .txtinfo .title {
        font-family: 'Black Han Sans', sans-serif;
        font-size: 35px;
    }

    .txtinfo .year {
        font-size: 20px;
        margin-left: 10px;
    }

    .txtinfo th {
        width: 70px;
        padding-right: 10px;
        font-family: 'Do Hyeon', sans-serif;
        font-size: 20px;
        color: dimgray;
    }

    .desc > span {
        font-family: 'Do Hyeon', sans-serif;
        font-size: 20px;
        color: dimgray;
    }

    #comment {
        margin-top: 50px;
        width: calc(100vw - 400px);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }

    #star {
        color: dimgray;
    }

    #star a {
        text-decoration: none;
        color: gainsboro;
    }

    #star a.on {
        color: royalblue;
    }

    #star span {
        margin-left: 20px;
    }

    .mb-3 button {
        float: right;
        margin-top: 10px;
    }

    .comment-cont{
        display: flex;

    }

    .user-star {
        color: gainsboro;
        margin-right: 40px;
    }

    .user-star > p span.on {
        color: royalblue;
    }

    .userinfo{
        color: lightgray;
    }



</style>
{% endblock %}
{% block script%}

{% endblock %}
{% endblock %}

{% block content %}

<div id="main">
    <div class="movieinfo">
        <!--영화 소개-->
    </div>
    <div id="comment">
        <div class="userinput">
            <P id="star"> <!-- 부모 -->
                <a href="javascript:avoid(0)" value="1">★</a> <!-- 자식들-->
                <a href="javascript:void(0)" value="2">★</a>
                <a href="javascript:void(0)" value="3">★</a>
                <a href="javascript:void(0)" value="4">★</a>
                <a href="javascript:void(0)" value="5">★</a>
                <span>0</span>/5점
            <p>
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <button type="button" class="btn btn-dark" onclick="postcomment()">작성</button>
            </div>
        </div>

        <div class="commentlist">

        </div>

    </div>
</div>

<script>
    let id = (location.search.substr(location.search.indexOf("?") + 1)).split("=")[1]

    $(document).ready(function () {
        $(".nav-item").children("a").removeClass("active")
        // $(".nav.nav-pills>.nav-item:nth-child(2)>a").addClass("active")
        $(".movieinfo").empty()
        $(".commentlist").empty()
        getinfo()
    })

    function getinfo() {
        $.ajax({
            type: "GET",
            url: "/content",
            data: {
                'id': id
            },
            success: function (response) {
                if (response['result'] == 'success') {
                    data = response['content']
                    let title = data["title"]
                    let year = data["year"]
                    let type = data["type"]
                    let desc = data['desc']
                    let thumbnail = data['thumbnail']
                    let comments = data['comment']
                    if (thumbnail == "None" || thumbnail == "about:blank") {
                        thumbnail = "..\\static\\none.jpg"
                    }

                    if (type.slice(0,2) == "영화") {
                        let genre = data["genre"]
                        let country = data["country"]
                        let runtime = data["runtime"]
                        let director = data["director"]
                        let cast = data['cast']

                        temp = `<img src="${thumbnail}" alt="${title}">
                                <div class="rightblock">
                                     <table class="txtinfo">
                                        <tr>
                                           <td colspan="2" class="title">${title}<span class="year">(${year})</span></td>
                                        </tr>
                                        <tr>
                                            <th>개요</th>
                                            <td>${type} | ${genre} | ${country} | ${runtime}분</td>
                                        </tr>
                                        <tr>
                                            <th>감독</th>
                                            <td>${director}</td>
                                        </tr>
                                        <tr>
                                            <th>출연</th>
                                            <td>${cast}</td>
                                        </tr>
                                    </table>
                                    <div class="desc">
                                        <span>줄거리</span>
                                        <p>${desc}</p>
                                    </div>
                                </div>
                               `

                        $(".movieinfo").append(temp)
                    }
                    if (type.slice(0,3) == '드라마') {
                        let country = data["country"].split("드라마")[0]
                        let cast = data['cast']
                        temp = `<img src="${thumbnail}" alt="${title}">
                                <div class="rightblock">
                                     <table class="txtinfo">
                                        <tr>
                                           <td colspan="2" class="title">${title}<span class="year">(${year})</span></td>
                                        </tr>
                                        <tr>
                                            <th>개요</th>
                                            <td>${type} | ${country}</td>
                                        </tr>
                                        <tr>
                                            <th>출연</th>
                                            <td>${cast}</td>
                                        </tr>
                                    </table>
                                    <div class="desc">
                                        <span>줄거리</span>
                                        <p>${desc}</p>
                                    </div>
                                </div>
                               `
                        $(".movieinfo").append(temp)
                    }
                    if (type.slice(0,1) == '쇼') {
                        let category = data["category"]
                        let cast = data['cast']
                        temp = `<img src="${thumbnail}" alt="${title}">
                                <div class="rightblock">
                                     <table class="txtinfo">
                                        <tr>
                                           <td colspan="2" class="title">${title}<span class="year">(${year})</span></td>
                                        </tr>
                                        <tr>
                                            <th>개요</th>
                                            <td>${type} | ${category}</td>
                                        </tr>
                                        <tr>
                                            <th>출연</th>
                                            <td>${cast}</td>
                                        </tr>
                                    </table>
                                    <div class="desc">
                                        <span>줄거리</span>
                                        <p>${desc}</p>
                                    </div>
                                </div>
                               `
                        $(".movieinfo").append(temp)
                    }
                    if (type == "다큐멘터리" || type == "애니메이션") {
                        temp = `<img src="${thumbnail}" alt="${title}">
                                <div class="rightblock">
                                     <table class="txtinfo">
                                        <tr>
                                           <td colspan="2" class="title">${title}<span class="year">(${year})</span></td>
                                        </tr>
                                        <tr>
                                            <th>개요</th>
                                            <td>${type}</td>
                                        </tr>
                                    </table>
                                    <div class="desc">
                                        <span>줄거리</span>
                                        <p>${desc}</p>
                                    </div>
                                </div>
                               `
                        $(".movieinfo").append(temp)
                    }

                    if (comments) {
                        for (let i = 0; i < comments.length; i++) {
                            let comment = comments[i]
                            let star = comment["star"]
                            let text = comment["text"]
                            let date = comment["date"]
                            let user = comment['user']
                            let temp = `<hr/><div class="comment-cont"><div class="user-star"><p>`
                            for (let j = 0; j < star; j++) {
                                temp += `<span class="on">★</span>`
                            }
                            for (let j = 0; j < (5 - star); j++) {
                                temp += `<span>★</span>`
                            }
                            temp += `</p></div><div><p class="userinfo">${user} | ${date}</p><p>${text}</p></div></div>`
                            $(".commentlist").append(temp)
                        }
                    }
                } else {
                    alert('목록을 받아오지 못했습니다.')
                }
            }
        })
    }

    $('#star a').click(function () {
        $(this).parent().children("a").removeClass("on");
        $(this).addClass("on").prevAll("a").addClass("on");
        $("#star > span:nth-child(6)").empty();
        $("#star > span:nth-child(6)").append($(this).attr("value"));
    })

    $("#exampleFormControlTextarea1").focus(function (){
        $.ajax({
            type: "GET",
            url: "/check_if_login",
            data: {
            },
            success: function (response) {
                if (response["result"] == 'success') {
                    return
                } else {
                    alert('로그인 후 이용해 주세요')
                    window.location.href = '/login'
                }
            }
        })
    })

    function postcomment() {
        let star = $("#star > span:nth-child(6)").text()
        let comment = $("#exampleFormControlTextarea1").val()
        let today = new Date()
        let year = today.getFullYear(); // 년도
        let month = today.getMonth() + 1;  // 월
        let day = today.getDate();  // 날짜
        let date = year + "/" + month + "/" + day
        if (star == '0') {
            alert('평점은 1점 이상 클릭해 주세요!')
            return
        } else if (comment == '') {
            alert('리뷰를 작성해 주세요!')
            return
        }
        $.ajax({
            type: "POST",
            url: "/movie_comment",
            data: {
                'id_give': id,
                'star_give': star,
                'comment_give': comment,
                'date_give': date
            },
            success: function (response) {
                if (response["result"] == 'success') {
                    alert(response['msg'])
                    window.location.reload();
                } else {
                    alert("작성 실패")
                }
            }
        })
    }

    // function getcomment() {
    //     $.ajax({
    //         type: "GET",
    //         url: "/movie_comment",
    //         data: {
    //             'id_give': id,
    //         },
    //         success: function (response) {
    //             if (response["result"] == 'success') {
    //                 let comments = response["comments"]
    //                 if (comments != "None") {
    //                     for (let i = 0; i < comments.length; i++) {
    //                         let comment = comments[i]
    //                         let star = comment["star"]
    //                         let text = comment["text"]
    //                         let date = comment["date"]
    //                         let temp = `<hr/><div class="star-and-date"><p>`
    //                         for (let j = 0; j < star; j++) {
    //                             temp += `<span class="on">★</span>`
    //                         }
    //                         for (let j = 0; j < (5 - star); j++) {
    //                             temp += `<span>★</span>`
    //                         }
    //                         temp += `</p><p>${date}</p></div><p>${text}</p>`
    //                         $(".commentlist").append(temp)
    //                     }
    //                 }
    //             }
    //         }
    //     })
    // }

</script>
{% endblock %}